li[class*="channel__972a0 dm__972a0"] {
    
    margin-top: 10px;
    margin-bottom: 10px;
    

}



/* des */
li[class*="channel__972a0 dm__972a0"]:has(a[href*="/channels/@me/1248009471788056607"]) {
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTRjZ3VvcGZteXJxODRndjFqb2F2eWp4YzZvc3R2eXE5djh1cHllaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Pd6qtNx1zfG9C0cQbP/giphy.gif); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 25%;
}
