li[class*="channel__972a0 dm__972a0"] {
    
    margin-top: 10px;
    margin-bottom: 10px;
    

}



li[class*="channel__972a0 dm__972a0"]:has(a[href*="/channels/@me/1248009471788056607"]) {
    background-image: url(https://cdn.discordapp.com/attachments/1182776927652675737/1374147305090842704/TgousJT.png?ex=68319b27&is=683049a7&hm=c16e405c2d007a526c1d755d599c93bba79490386b18e692af444a12ada89341&); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 25%;
}
